:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #34355b;
}

body {
  height: 80vh;
  background: linear-gradient(
    45deg,
    rgba(25, 3, 97, 1) 0%,
    rgba(187, 0, 255, 1) 100%
  );
}

.hide {
  display: none;
}

button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;

  color: white;
  background: #ff9500;

  border-radius: 4px;
  border: none;

  padding: 1.6rem;
  margin-top: 1.7rem;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;

  margin-bottom: 1.4rem;
}

p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;

  margin-bottom: 2rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0 0 0.75rem black);
  width: 42.8rem;
  background: #ffffff;

  margin-inline: auto;
  margin-block: 20vh;
  padding: 5rem;
}

.screen2 p {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 2.9rem;
  text-align: center;

  color: #000000;

  background: #e4edf1;
  box-shadow: 2px 2px 4px rgba(85, 85, 85, 0.371);

  padding: 1rem;
}

.screen2 img {
  margin-block: 5rem;
}

button:hover {
  scale: 1.01;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.198);
}

.screen1 img:hover {
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}

/* ======================= nimações ======================= */

@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
